html,body {
  background: #efefef;
}

h2 {

}

hr {
  padding: 0;
  height: 15px;
  border: none;
  border-top: medium double #D6D6D6;
  color: #D6D6D6;
  text-align: center;
  width: 100%;
  border-radius: 100%;
  transform: rotate(180deg);
}

hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.5em;
  background: #FFFFFF;
}

.header {
  display: block;
  height: 70px;
  padding-bottom: 20px;
}

.container {
  position: relative;
  display: block;
  max-width: 1250px;
  margin: 30px auto 30px;
  padding: 0 20px 140px 20px !important;
  width: 90%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
  z-index: -5;
}

.container:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;/*
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;*/
  background-color: #2C2C2C;/*#F2CD4C;*/
  z-index: -2;
}

.container:before {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 100%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;/*
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;*/
  background-color: #2C2C2C;/*#F2CD4C;*/
  z-index: 99;
}

.box__photo {
  position: relative;
  display: block;
  top: 100px;
  left: 50%;
  width: 250px;
  height: 250px;
  transform: translate(-50%, -50%);
  border-radius: 200px;
  background-color: #FFFFFF;
  overflow: hidden;
  border: 10px solid #FFFFFF;
  z-index: 49;
}

.user-photo {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto; 
  max-width: 200%; 
  height: auto;
  z-index: 50;
}

.box-of-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  z-index: 10;
}

.boxer-wrapper {
  display: block;
  width: 100%;
}

.boxer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
  min-width: 100%;
  border-radius: 50px;
  z-index: 10;
  padding: 20px;
  /*background-color: #454545;*/
  background-color: #EDEDED;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
}

.p-login {
  display: block;
  font-size: 20px;
  font-family: 'Amatic SC';
  color: #333333;
}

.p-login h2 {
  display: block;
  font-size: 25px;
  text-align: left;
  padding-left: 10px;
}

.p-login input {
  display: block;
  text-align: left;
  width: 100%;
  height: 40px;
  font-size: 25px;
  font-family: 'PF BeauSans Pro Light';
  color: #3B3B3B;
  background-color: #FFFFFF;
  border-radius: 20px;
  border: 1px solid #E1E1E1;
  padding-left: 20px;
}

.butts {
  display: block;
  text-align: center;
}

.button {
  font-family: 'PF BeauSans Pro Light';
  display: inline-block;
  width: 100%;
  border-radius: 20px;
  font-size: 25px;
  color: #FFFFFF;
}

.button-save {
  background-color: #75c181;
  height: 60px;
}

.button-save:hover {
  background-color: #75c181;
  transition: all 0.2s;
}

.button-change {
  background-color: #F8A13F;
  height: 60px;
}

.button-change:hover {
  background-color: #F9AF5B;
  transition: all 0.2s;
}

.responce {
  text-align: center;
  font-family: 'PF BeauSans Pro Light';
  font-size: 20px;
  color: #E62F2F;
}

.logout-box {
  position: relative;
  display: block;
  height: 100px;
  width: 70%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 10;
  padding: 20px;
  background-color: #454545;
}

.button-logout {
  background-color: #FF5733;
  height: 60px;
}

.button-logout:hover {
  background-color: #FF6B4B;
  transition: all 0.2s;
}

.bought-tickets-block {
  display: block;
  width: 100%;

  background-color: #E7E7E7;
  border-radius: 50px;
}


/*----------------------------*/

.choose-text-block {
  display: block;
}

.choose-text {
  display: block;
  font-family: 'PF BeauSans Pro Light';
  font-size: 24px;
  color: #404040;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}


/*----------------------------*/

.hole-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 410px;
  border-radius: 50px;
  background-color: #EDEDED;
  overflow: auto;
  user-select: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
}

.cinema {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  /*width: 540px;*/

}

.seat {
  display: inline-block;
  font-family: 'PF BeauSans Pro Light';
  width: 26px;
  height: 26px;
  text-align: center;
  background: #9CFF89;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px;
  font-size: 12px;
}

.passageBetween {
  height: 2px;
  width: 100%;
  display: block;
}

.result {
  font-size: 10px;
  display: inline-block;
  width: 200px;
  max-height: 100%;
  background-color: #CDCDCD;
}

.bay {
  background-color: #DB3E3E;
}

.bought {
  background-color: #D66CB4;
  cursor: unset;
}


/*----------------------------*/

.choose-text-block {
  display: block;
  text-align: center;
  background-color: #EDEDED;
  height: 60px;
  width: 80%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.choose-text {
  padding: 20px;
}


.block-take {
  display: block;
  width: 70%;
  padding: 20px;
  background-color: #EDEDED;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.button-take {
  background-color: #FF5733;
  height: 60px;
}

.button-take:hover {
  background-color: #FF6B4B;
  transition: all 0.2s;
}

.num-column {
  font-family: 'PF BeauSans Pro Light';
  display: inline-block;
  border-bottom: 1px solid black;
  font-size: 12px;
}

/*----------------------------*/

.tickets-block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  margin: 0 auto;
  background-color: #EDEDED;
  border-radius: 50px;
  overflow: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
}

.ticket {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 400px;
  min-width: 150px;
  width: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 30px;
  background-color: #FFFFFF;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.choose-block {
  display: block;
  text-align: center;
  width: 75%;
  background-color: #EDEDED;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.barcode {
  display: block;
  font-size: 80px !important;
  color: #282828;
}

.ticket-card a {
  font-family: 'PF BeauSans Pro Light';
  color: #282828;
  font-size: 20px;
}

.places {
  font-family: 'PF BeauSans Pro Light';
  display: block;
  padding: 20px 20px;
  border-radius: 50px;
}

.box-place {
  display: block;
  border-bottom: 1px solid black;
}

.num-box {
  font-family: 'PF BeauSans Pro Light';
  color: #FFFFFF;
  display: block;
  height: 40px;
  width: 40px;
  padding-top: 5px;
  padding-left: 5px;
  text-align: center;
  border-radius: 200px;
  background-color: #282828;
}








@media (max-width: 700px) {

  .hole-block {
    height: 370px;
  }

  .seat {
    width: 18px;
    height: 18px;
  }

  .cinema {
    width: 470px;
  }

  .block-take {
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

}

@media (max-width: 700px) {
  
  .box-of-data {
    width: 100%;
  }

  .logout-box {
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

}

@media (max-width: 450px) {

  .p-login input {
    height: 
    font-size: 18px;
  }

}