body {
	background-color: #FFFFFF;
}

p {
	color: #000000;
}

/*-----------------*/

.doc-block {
	display: block;
	max-width: 1200px;
	margin: 100px auto 30px auto;
	background-color: #FFFFFF;
	border-radius: 50px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.15), 0 3px 6px rgba(0,0,0,0.10);
}

.doc-block-wrapper {
	display: block;
	padding: 50px 70px;
}

/*-----------------*/

@media (max-width: 650px) {

	.doc-block-wrapper {
		text-align: center;
		padding: 20px 30px;
	}

}